.icon-container {
  gap: 15px;
  margin-top: 10px;
}

.card-body-container {
  gap: 50px;
  flex-wrap: wrap;
  box-shadow: 2px 2px 2px gray;
}

.info {
  border-left: 2px solid rgb(189, 189, 189);
  padding-left: 20px;
}

.info-text {
  color: rgb(175, 175, 175);
}
