.nav {
    padding: 10px;
    background-color: #7FD2E4;
    color: white;
}

.button-toggler {
    border: none;
    outline: none;
    color: white;
}

.nav-content {
    padding: 10px;
}

.nav-content li {
    margin-top: 10px;
    border-bottom: 1px solid white;
}